.dialogs {
    display: grid;
    grid-template-areas: "z k";
    grid-template-columns: 2fr, 10fr;
}
.dialogsItems{
    grid-area: z;
    padding: 10px;
}
.dialogsItems a.active {
    color: gold;
}
.dialogsItems a{
    color: red;
}
.messages {
    grid-area: k;

}
.messages .message {

}


